header form{
    position: relative;
    top: 2rem;
    right: 1rem;
}
header label{
    font-size: 1.5rem;
}
header input{
    font-size: 1.2rem;
    border-radius: 1rem;
}
header input:hover{
    border: 0.2rem solid #00BFFF;
}
footer{
    text-align: center;
    background: black;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 2ch;
    margin-top: 5rem;
    padding-top: 1.5rem;
}
footer a{
    color: white;
}
footer a:hover::after{
    content: 'Clique para acessar!';
}
.Logo_fb{
    display: block;
    margin-bottom: 1.5rem;
}
